
# Swiss Ephemeris swetest
swetest:
  # executable file
  bin: /path/to/swetest-binary
  # directory containing data files (like seas_00.se1)
  dir:  /path/to/sweph

# Parameters related to the planetary positions, pre-computed in a sqlite database,
# and available for all studies
one-day-ephemeris:
  # ephemeris computation engine - can be meeus1 or swetest
  engine: swetest
  # Planets to compute, using IAA codes
  planets: [SO, MO, ME, VE, MA, JU, SA, UR, NE, PL, NN]
  # Path to the local database containing the planet positions.
  sqlite-planets: var/planets.sqlite3
