/** 
    Contains defaults that can be used by most sites
    @history    2019-04-25 14:14:30+02:00, Thierry Graff : Creation from a split of style.css
**/

/* ================ General defaults ================ */
body{
    padding:0.5rem;
    background:#eee;
    font-family:Arial,Helvetica,sans-serif;
}

/* ================ Headings ================ */
h1{
    width:100%;
    margin:auto;
    text-align:center;
    padding:0.3rem;
    margin:1rem 0;
}
h1 .subtitle{font-size:0.8em;}
h2{
    margin:1rem 0;
}
h3{
    margin:1rem 0;
}


/* ================ Navigation ================ */
.prevnext{
    font-family:DejaVu,serif;
    position:fixed; top:0; right:0;
    margin:1rem;
    width:75px; height:40px
}
.prevnext a{
    display:inline-block;
    position:fixed;
    width:40px; height:40px;
    text-decoration:none;
    font-weight:bolder;
    font-size:2rem;
}
.prevnext a.index{top:0px; right:10px; font-size:0.5rem;}
.prevnext a.top{top:0px; right:40px;}
.prevnext a.prev{top:25px; right:75px;}
.prevnext a.next{top:25px; right:5px;}


/* ================ Particular elements ================ */
.intro{
    font-size:1.2rem;
    margin:1rem 0 1rem 2rem;
}

pre{
    background:lightgrey;
    padding:.5rem;
    margin:.5rem;
}
pre.normal{background:none;}
code.color{background:lightgrey;}

table.wikitable{
    border-collapse:collapse;
}
table.wikitable > tr > th, table.wikitable > * > tr > th {
    /* background-color: #eaecf0; */
    background-color: lightblue;
    text-align: center;
    vertical-align:top;
}
table.wikitable > tr > th,
table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
    border: 1px solid #a2a9b1;
    padding: 0.2rem 0.4rem;
    vertical-align:top;
}
table.wikitable tr td code{
    background:none;
}

cite{
    font-family:DejaVu,serif;
    display:block;
    margin:1rem;
}
blockquote{
    display:block;
    border:1px solid grey;
    padding:5px;
    margin:1rem;
    font-family:DejaVu,serif;
    background:#fee;
}

.alternate-rows tr:nth-child(odd){background-color:#e0e0e0;}
.alternate-rows tr:nth-child(even){background-color:#d9edf7;}

.img-title{font-size:.9rem; font-weight:bold; text-align:center;}

