/** 
    CSS specific to <mysite.org> site
    Contains site layout
    
    @history    2018-11-25 23:39:21+01:00, Thierry Graff : Creation ; copy flex from index.html
    @history    2019-02-22 09:41:28+01:00, Thierry Graff : New flex layout
**/

@import url("style.css");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family:"roboto flex",sans-serif;
    line-height:1.4;
}

.container {
    display: flex;
    flex-direction: row-reverse; /* sidebar appears on the left */
    height: 100vh; /* the full window height */
}

/* MAIN SECTION */
.main {
    flex: 1;                     /* takes remaining width */
    overflow-y: auto;            /* independent vertical scroll */
    padding:1rem .5rem 2rem 1rem;
    background: #f9f9f9;
}

/* LEFT SIDEBAR */
.left {
    width: 300px;
    overflow-y: auto;            /* independent vertical scroll */
    background:lightgoldenrodyellow;
    font-size:.9rem;
    border-right:1px solid grey;
    padding-top:1rem;
}
.left li{
    list-style:none;
}
.left ul{
    padding-left:1rem;
}
.left>nav>ul{
    padding-left:0.5rem;
    position:relative;
    top:.5rem;
}
.left>nav>ul>li{
    padding-bottom:0.3rem;
}
.left>nav>ul>li>ul>li{
    padding-bottom:0.3rem;
}

footer{
   flex: 0 0 auto;
    width:100%;
    text-align:center;
}
footer>div{background:black;}
footer a{
    display:inline-block;
    padding: 0 2em;
    color:lightgray;
}                                                 

* ================ Navigation ================ */
.prevnext{
    font-family:DejaVu,serif;
    position:fixed; top:0px; left:0px;
    margin:0;
    width:15%; height:4rem;
    background:lightgoldenrodyellow;
    border-right:1px solid grey;
}
.prevnext a{
    display:inline-block;
    position:fixed;
    width:40px; height:40px;
    text-decoration:none;
    font-weight:bolder;
    font-size:2rem;
}
.prevnext a.index{top:0px; left:50px; font-size:0.5rem;}
.prevnext a.top{top:0px; left:80px;}
.prevnext a.prev{top:25px; left:45px;}
.prevnext a.next{top:25px; left:110px;}
.prevnext a.topage{
    top:15px; left:82px; color:#black; font-size:1.1rem;
    transform:rotate(-90deg);
}

/* ================ Index page ================ */
.index h1{margin:.5rem;}
.mainlinks{
    display:grid;
    grid-gap:0;
    grid-template-columns:repeat(3, 1fr);
    justify-items:center;
}
.mainlinks .item{
    min-height:4rem;
    font-size:.8rem;
    padding-bottom:1rem;
}
.mainlinks .item div.mainitem{
    font-size:1.5rem;
}
.mainlinks .item div~div{
    padding-left:1rem;
}


/* ================ Particular elements ================ */

/* ================ Semantic ================ */
