/** 
    CSS specific to <mysite.org> site
    Contains site layout
    
    @history    2018-11-25 23:39:21+01:00, Thierry Graff : Creation ; copy flex from index.html
    @history    2019-02-22 09:41:28+01:00, Thierry Graff : New flex layout
**/

@import url("style.css");

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body{
    font-family:"roboto flex",sans-serif;
    line-height:1.8;
    color:#d9e5fc;
}
h1{
    text-align:center;
    margin:3rem 0;
}
h1 .subtitle{
    font-size: .875em;
}

code{
    font-family:"Courier New",Courier,monospace;
    background: #2c333f;
    padding:2px 5px;
}
pre{
    border-radius: .25rem;
    background: #2c333f;
    font-size: .875em;
    font-weight: 400;
	font-family: "roboto flex mono", ui-monospace, monospace;
    padding: 2px;
}
pre{
    display:table;
    white-space:pre-wrap;
    margin:1rem;
    padding:.5rem;
    border-radius:2px;
    border:1px solid #717a9f;
    line-height:1.15;
}
pre.tree{
    line-height: 1.2rem;
}

a{
    text-decoration:none;
    color:#4b83f1;
}
a:hover{
    color:lightyellow;
}

/* ================ Site structure ================ */
.container {
    display: flex;
    flex-direction: row-reverse; /* sidebar appears on the left */
    height: 100vh; /* the full window height */
}

/* MAIN SECTION */
.main {
    flex: 1;                     /* takes remaining width */
    overflow-y: auto;            /* independent vertical scroll */
    padding:1rem .5rem 2rem 1rem;
    background:#1e2129;
}

/* LEFT SIDEBAR */
.left {
    width: 320px;
    overflow-y: auto;            /* independent vertical scroll */
    background-color:#333;
    font-size:.9rem;
    border-right:1px solid grey;
    padding-top:1rem;
    padding-left:1rem;
}
.left a{
    color:lightblue;
}
.left .title{
    font-weight:bold;
    font-size:1.2rem;
}
.left li{
    list-style:none;
}
.left ul{
    padding-left:1rem;
}
.left>ul{
    padding-left:0.5rem;
    position:relative;
    top:.5rem;
}
.left>ul>li{
    font-size:1.1rem;
}
.left>ul>li>ul>li{
}

/* ================ Particular elements ================ */
.intro{
    margin-bottom:2rem;
    font-size:1.1rem;
}

.prevnext{
    font-size:1.5rem;
    margin:1rem;
}

.question{
    background:lightyellow;
    color: black;
    margin:.5rem;
    padding:.2rem 1rem;
    display:table;
}
.distrib1{
    color:olive;
}
.distrib2{
    color:yellow;
}


/* ================ Table of contents ================ */
.pagetoc{
    display:inline-block;
    background: #2c333f;
    margin:1rem 2rem;
    padding:1rem 1rem 1rem 1rem;
    border:1px dotted black;
    border-radius:5px;
    font-family:Arial,Helvetica,sans-serif;
    line-height:1.6;
}
.pagetoc a{
    color:lightblue;
}
.pagetoc ul{
    list-style-type:none;
    padding-left:1rem;
    margin:0;
}
.pagetoc ul>li{}
.pagetoc>ul>li>a{
    font-weight:bold;
}

/* ================ wikitable ================ */
table.wikitable{
    border-collapse:collapse;
}
table.wikitable > tr > th,
table.wikitable > * > tr > th {
    background-color:#333;
    text-align:center;
    vertical-align:top;
}
table.wikitable > tr > th,
table.wikitable > tr > td,
table.wikitable > * > tr > th,
table.wikitable > * > tr > td {
    border:1px solid #a2a9b1;
    padding:0.2rem 0.4rem;
    vertical-align:top;
}

