/** 
    CSS specific to <mysite.org> site
    Contains site layout
    
    @history    2018-11-25 23:39:21+01:00, Thierry Graff : Creation ; copy flex from index.html
    @history    2019-02-22 09:41:28+01:00, Thierry Graff : New flex layout
**/

@import url("style.css");

body{
    padding:0 0 .5rem 0;
}

/* ================ Site layout ================ */
html{height:100%;}

body{
    display:flex;
    flex-direction:column;
    height:100%;
}

/* container and footer = direct children of body */
.container{
   flex:1 0 auto;
   display:flex;   
   flex-flow:row wrap;
}
/* in the html, write .left sidebar after .main area */
.container :nth-child(2) { order: 1; }
.container :nth-child(1) { order: 2; }

/* left and main = direct children of container */
.main{
    flex:1 1 85%;
    padding:1rem .5rem 2rem 1rem;
}

aside li{list-style:none;}
.left{
    flex:1 1 15%;
}
.left{
    padding-top:5rem;
    border-left:1px solid grey;
    background:lightgoldenrodyellow;
    font-size:.9rem;
    border-right:1px solid grey;
}
.left ul{
    padding-left:1rem;
}
.left>ul{
    padding-left:0.5rem;
}
.left>ul>li{
    padding-bottom:0.3rem;
}

footer{
   flex: 0 0 auto;
    width:100%;
    text-align:center;
}
footer>div{background:black;}
footer a{
    display:inline-block;
    padding: 0 2em;
    color:lightgray;
}                                                 

* ================ Navigation ================ */
.prevnext{
    font-family:DejaVu,serif;
    position:fixed; top:0px; left:0px;
    margin:0;
    width:15%; height:4rem;
    background:lightgoldenrodyellow;
    border-right:1px solid grey;
}
.prevnext a{
    display:inline-block;
    position:fixed;
    width:40px; height:40px;
    text-decoration:none;
    font-weight:bolder;
    font-size:2rem;
}
.prevnext a.index{top:0px; left:50px; font-size:0.5rem;}
.prevnext a.top{top:0px; left:80px;}
.prevnext a.prev{top:25px; left:45px;}
.prevnext a.next{top:25px; left:110px;}
.prevnext a.topage{
    top:15px; left:82px; color:#black; font-size:1.1rem;
    transform:rotate(-90deg);
}

/* ================ Index page ================ */
.index h1{margin:.5rem;}
.mainlinks{
    display:grid;
    grid-gap:0;
    grid-template-columns:repeat(3, 1fr);
    justify-items:center;
}
.mainlinks .item{
    min-height:4rem;
    font-size:.8rem;
    padding-bottom:1rem;
}
.mainlinks .item div.mainitem{
    font-size:1.5rem;
}
.mainlinks .item div~div{
    padding-left:1rem;
}


/* ================ Particular elements ================ */

/* ================ Semantic ================ */
